.main-class {
    flex-flow:column;
    height:100%;
    display:flex;
    overflow: hidden;
}

html, body, div#root {
    height:100%;
    background-color: #fafafa;
}

::-webkit-scrollbar {
    display: block;
}

.colors {
    color: #212121;
    color: #0D7377;
    color: #323232;
    color: #14FFEC;
}


/*
#fafafa	(250,250,250)
#e4e5f1	(228,229,241)
#d2d3db	(210,211,219)
#9394a5	(147,148,165)
#484b6a	(72,75,106)
*/